@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gotu|Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

*{
  background: #1d1d1d;
}

  /* Nav styles */
.nav-link {
  color: #10d9e0 !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.7s;
}

.nav-link:hover {
  color: #f54369 !important;
}

.is-active {
  background-color: #f54369;
}

.is-active:hover {
  color: #10d9e0 !important;
  background-color: #f12954;
}

.navbar, .navbar-collapse, .navbar-nav {
  background: #181818 !important;
}

  /* Title and Subtitle Styles */
.title {
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  font-family: 'Dancing Script','Trebuchet MS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  cursor: default;
  text-transform: capitalize;
  font-size: 2.7rem;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;
    transition: 0.5s ease-in;
}

.title:hover {
  color: #f12954;
  transform: scale(1.03);
  text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}

.subtitle {
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin-top: 0.8rem;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 30px;
  font-weight: 200;
}

  /* Home Styles */
div.jumbotron {
  margin-bottom: 0;
}

.contact-btn {
  border: 1px solid #10d9e0;
  color: #10d9e0;
  letter-spacing: 0.2rem;
  padding: 0.6rem 1.1rem;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact-btn:hover {
  border: 1px solid #f54369;
  color: #f54369;
  transition: 0.4s;
  text-decoration: none;
}

  /* Contact Page Styles */
form .form-control {
  border-radius: 0;
}

form .button {
  font-size: 0.8rem;
  border-radius: 0;
}

textarea.form-control, input.form-control {
  background: #1d1d1d;
  color: #b1b1b1;
  border: 2px solid #181818;
}

textarea.form-control:focus, input.form-control:focus {
  background: none;
  box-shadow: none;
  border-color: #10d9e0;
  transition: 2s;
}

.form-label {
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.success-msg {
  color: #57A773;
  padding: 10px 15px;
}

.error-msg {
  color: #eb2323;
  padding: 10px 15px;
}

.validate-error {
  color: #eb2323;
}

/* Home Page Styles */
.home {
  position: relative;
  display: flex;
  flex-direction: row;
}

.home .home-info {
  margin-top: 1.5rem;
}

.img {
  position: relative;
  height: auto;
  max-width: 90%;
  margin-left: 2rem;
}

/*About Page Styles*/
.about-text-img {
  display: flex;
}

.about-text {
  color: #ffffff;
  margin-right: 15%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  word-spacing: -0.2rem;
}

.about-text p {
  margin-bottom: 0rem;
}

.about-img {
  width: 150px;
  margin-left: 10%;
  margin-right: 3%;
  border-radius: 50%;
}

/* Stack Styles */
.stack h3 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stack-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.stack-card .card {
  position: relative;
  width: 14rem;
  height: 8rem;
  background-color: #1d1c1c;
  color: #f5f5f5;
  margin: 1.5rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-transform: uppercase;
  font-family: 'Dancing Script','Courgette','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow: hidden;
  transition: 0.5s;
}

.stack-card .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.03);
}

.stack-card .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.stack-card .card:hover .fa-html5 {color: #f06529;}
.stack-card .card:hover .fa-css3 {color: #1194eb;}
.stack-card .card:hover .fa-js {color: #f1db0e;}
.stack-card .card:hover .fa-react{color: #27bdeb;}

.card .bar {
  background-color: #353b48;
  display: block;
  height: 0.4rem;
  width: 12rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 5px #10d9e0;
}

.bar span {
  height: 0.4rem;
  float: left;
  background-color: #10d9e0;
}

.html {
  width: 90%;
  animation: html 5s;
}
.css {
  width: 80%;
  animation: css 5s;
}
.javascript {
  width: 60%;
  animation: javascript 5s;
}
.react {
  width: 50%;
  animation: react 5s;
}

@keyframes html {
  0%{
    width: 0%;
  }
  100%{
    width: 90%
  }
}
@keyframes css {
  0%{
    width: 0%;
  }
  100%{
    width: 80%
  }
}
@keyframes javascript {
  0%{
    width: 0%;
  }
  100%{
    width: 65%
  }
}
@keyframes react {
  0%{
    width: 0%;
  }
  100%{
    width: 50%
  }
}

.card h6 {
  margin-bottom: 1rem;
}

.card .percent {
  color: #b9b9b9;
  font-size: 1rem;
  transition: 0.5s;
  background: none;
}

.card:hover .percent {
  color: #f5f5f5;
  font-size: 1.3rem;
  font-size: bold;
}

/* Project Page */
.project-icon {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.fa-tools {
  font-size: 11.5rem;
  color: #f5f5f5;
}

.unavailable {
  color: #f5f5f5;
  text-align: center;
  padding: 1rem;
  font-family: 'La Belle Aurore', 'Trebuchet MS', cursive;
}

/* Social Link Styles */
.social-links {
  position: fixed;
  top: 23rem;
  background: none;
  padding: 0;
  list-style: none;
}

.social-links li{
  background: linear-gradient(-45deg, rgb(0,0,0), rgba(255,255,255, 0));
  font-size: large;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 .6rem 0;
  border-radius: 50%;
  box-shadow: 2px 2px 6px #000000, -2px -2px 5px rgba(73, 73, 73, 0.5);
  cursor: pointer;
}

.social-links li:hover{
  background: linear-gradient(135deg, rgb(0,0,0), rgba(255,255,255, 0));
}

.fa-github, .fa-linkedin, .fa-twitter {
  color: #646262;
  background: none;
}

.social-links li:hover .fa-github {
  color: #fdfbfb;
}
.social-links li:hover .fa-linkedin {
  color: #0077b5;
}
.social-links li:hover .fa-twitter {
  color: #1da1f2;
}

/* Footer Styles */
footer {
  border-top: 2px solid #181818;
}

.footer-mail, .footer-name {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-name{
  margin-top: -0.6rem;
}

.fa-envelope {
  margin-top: 0.3rem;
  color: #646262;
}

.footer-mail p {
  padding: 0 0 0 0.5rem;
  color: #646262;
  cursor: default;
}

.footer-name {
  font-weight: 600;
  color: #646262;
  font-family: monospace;
  letter-spacing: 1px;
}

/* Animations */
.slideInLeft {
  animation: slideInLeft 1.5s;
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation: slideInRight 1.5s;
}
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.fadeIn {
  animation: fadeIn 4s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */
@media screen and (max-width: 1000px) {
.nav-link:hover {
  background-color: #f12954;
}

.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.home-img {
  padding: 1rem !important;
}

.unavailable h1{
  margin: 0 2rem 0 2.5rem;
}
}

@media screen and (min-width: 576px){
div.jumbotron {
  padding: 2rem 1rem;
}
}

@media screen and (min-width: 768px) {
  .home-img .img{
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1400px){
  .home .home-info{
    align-items: center;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1280px) {
  .home-img .img{
    margin-top: 4.5rem;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .home-img .img{
    margin-top: 8rem;
  }
}

@media screen and (max-width: 765px) {
  form {
    position: relative;
    width: 80%;
    left: 15%;
  }
}

@media screen and (max-width: 1200px) {
.about-text-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-text {
  margin-left: 15%;
  margin-right: 10%;
}

.about-img {
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 1rem;
}
}